<table class="type08" 
	style="	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
	margin: 20px 10px;">
	<thead >
	<tr>
	<th scope="row" style ="	padding: 10px;
				font-weight: bold;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom: 2px solid #c00;
				background: #dcdcd1;">

		기부금액
	<th scope="row" style ="	padding: 10px;
				font-weight: bold;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom: 2px solid #c00;
				background: #dcdcd1;">

		판매금액
	</th>

	<tbody>

			<tr>
				<th scope="row">1000 원 </th>
			
				<th scope="row">10000 원</th>
			
			</tr>

	</tbody>
</table>
 	<a href="http://localhost:8080/flearmarket/">
	<img hspace= "20" align="center" width ="60" src="http://i60.tinypic.com/eqwi3d.png">
   		FlearMarket
	</a>	
